<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">

    <mat-card class="card-w">
        <form [formGroup]="userForm" (ngSubmit)="login()">
            <mat-card-header>
                <mat-card-title class="f-titulo">Ingrese con su usuario</mat-card-title>
            </mat-card-header>
            <mat-progress-bar *ngIf="!cargando"></mat-progress-bar>
            <mat-progress-bar mode="indeterminate" *ngIf="cargando"></mat-progress-bar>
            <mat-card-content>
                <br/>
                <div class="login-box-header">
                    <!-- Src image is temporary hosted in image.ibb-->
                    <img class="card-img" src="./assets/logo-empresa.png" />
                </div>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input formControlName="email" matInput placeholder="Correo" autocomplete="off">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input formControlName="password" matInput placeholder="Contraseña" type="password">
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </mat-card-content>
            <mat-card-actions class="button-center">
                <button mat-raised-button color="primary">
                <mat-icon>login</mat-icon> 
                Ingresar
            </button>
            </mat-card-actions>
        </form>
    </mat-card>