<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">

    <mat-card class="card-w">
        <mat-card-header>
            <mat-card-title class="f-titulo">¿Desea finalizar este reporte?</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="button-center">
            <button mat-raised-button color="primary" type="submit" (click)="finalizarReporte()">
                    Finalizar
                </button>
            <button mat-raised-button type="button" (click)="cerrarDialog()">
                    Cancelar
                </button>
        </mat-card-actions>
    </mat-card>
