<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">

    <mat-card class="card-w">
        <form [formGroup]="asignacionForm" (ngSubmit)="actualizarAsignacion()">
            <mat-card-header>
                <mat-card-title class="f-titulo">Actualizar asignacion</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br/>
                <div class="login-box-header">
                    <!-- Src image is temporary hosted in image.ibb-->
                </div>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="nombre" placeholder="Nombre de la asignacion" autocomplete="off">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="descripcion" placeholder="Descripcion de la asignacion" autocomplete="off">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select formControlName="item">
                                    <mat-option value="">
                                        Seleccione un item
                                    </mat-option>
                                    <mat-option *ngFor="let item of items" [value]="item._id">
                                        {{item.nombre}} - {{ item.sector.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select formControlName="categoria">
                                    <mat-option value="">
                                        Seleccione una categoria
                                    </mat-option>
                                    <mat-option *ngFor="let categoria of categorias" [value]="categoria._id">
                                        {{categoria.descripcion}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </mat-card-content>
            <mat-card-actions class="button-center">
                <button mat-raised-button color="primary" type="submit">
                    Crear
                </button>
                <button mat-raised-button type="button" (click)="cerrarDialog()">
                    Cancelar
                </button>
            </mat-card-actions>
        </form>
    </mat-card>