<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">

    <mat-card class="card-w">
        <form [formGroup]="itemForm" (ngSubmit)="actualizarItem()">
            <mat-card-header>
                <mat-card-title class="f-titulo">Actualizar item</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <br/>
                <div class="login-box-header">
                    <!-- Src image is temporary hosted in image.ibb-->
                </div>

                <table class="example-full-width" cellspacing="0">
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <input matInput formControlName="nombre" placeholder="Nombre del item" autocomplete="off">
                            </mat-form-field>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <mat-form-field class="example-full-width">
                                <mat-select formControlName="sector">
                                    <mat-option value="">
                                        Seleccione un sector
                                    </mat-option>
                                    <mat-option *ngFor="let sector of sectores" [value]="sector._id">
                                        {{sector.nombre}} - {{ sector.maquina.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </td>
                    </tr>
                </table>

            </mat-card-content>
            <mat-card-actions class="button-center">
                <button mat-raised-button color="primary" type="submit">
                    Actualizar
                </button>
                <button mat-raised-button type="button" (click)="cerrarDialog()">
                    Cancelar
                </button>
            </mat-card-actions>
        </form>
    </mat-card>