<!-- Classes main-div and example-card are catagorized in .css file -->
<div class="main-div">

    <mat-card class="card-w">
        <mat-card-header>
            <mat-card-title class="f-titulo">¿Esta seguro que desa eliminar {{item.nombre}}?</mat-card-title>
        </mat-card-header>
        <mat-card-actions class="button-center">
            <button mat-raised-button color="warn" type="submit" (click)="eliminarItem()">
                Eliminar
            </button>
            <button mat-raised-button type="button" (click)="cerrarDialog()">
                Cancelar
            </button>
        </mat-card-actions>
    </mat-card>